<div class="title d-bc">
  <span (click)="emitDataOutside($event)">X</span>
</div>
<div class="top d-bc">
  <span>追号详细</span>
</div>

<div class="top-header d-bc">
  <div class='detail-top'>
    <div class="content">
      <p>
        <span>开始时间:{{data.startTime * 1000 | date:'yyyy-MM-dd HH:mm' }}</span>
        <span>结束时间:{{data.endTime * 1000 | date:'yyyy-MM-dd HH:mm' }}</span>
        <span>中奖后停止:{{data.winStop == 0 ? '否' : '是'}}</span>
      </p>
      <p>
        <span>投注金额:{{data.betAmount | number:'1.2-2'}}</span>
        <span>中奖金额:{{data.winAmount | number:'1.2-2'}}</span>
        <span>撤单金额:{{data.cancelAmount | number:'1.2-2'}}</span>
        <span *ngIf="data.status == 0">状态:未开始</span>
        <span *ngIf="data.status == 1">状态:进行中</span>
        <span *ngIf="data.status == 2">状态:已停止</span>
        <span *ngIf="data.status == 3">状态:已结束</span>
        
      </p>
      <!-- <div></div> -->

    </div>
    <div class="bottom-img"></div>
  </div>
</div>
<div class='top-content d-bc'>
</div>
<div class="ofynum-main">
    <ul>
        <li class="ofynum-li" *ngFor="let item of detail; let i = index">
            <div style="width:150px">
                <span>第{{item.issue}}期</span>
            </div>
            <div style="width:150px">

                <span>金额:{{item.betAmount | number:'1.2-2'}}</span>
            </div>
            <div style="width:150px">
                <span class="ofynum-li-m">{{item.betCount}}注</span>
                <span class="ofynum-li-m">{{item.betTimes}}倍</span>
            </div>
            <div>
                <span *ngIf="item.status == -1">撤单</span>
                <span *ngIf="item.status == 0">未开奖
                    <span class='lanse' (click)='revoked(item.id)'>[撤单]</span>
                </span>
                <span *ngIf="item.status == 1">已封单</span>
                <span *ngIf="item.status == 2">未中奖</span>
                <span *ngIf="item.status == 3">已中奖</span>
                
            </div>

        </li>

    </ul>
</div>
<div class="tz">
    <div>投注号码</div>
    <div>{{code}}</div>
  </div>
<div class="bottom">
  <span class='ok d-bc' (click)="emitDataOutside($event)">确定</span>
</div>
