
<div class="doujiPage">

<!--header-->
<div class="header">
  <div class="w">
    <a href="" class="logo1"></a>
    <div href="" class="logo">
      <img src="/assets/head/logo.png">
    </div>

    <app-login-after></app-login-after>


    <!--登录前-->
    <!--<div class="loginBefore">-->
      <!--<form action="">-->
        <!--<div class="col1" style="margin-left: 55px;">-->
          <!--<input type="text" class="txt user" id="J-user-name" data-name="name" name="user-name"  placeholder="账号"/>-->
          <!--<input type="password" class="txt password" id="J-user-password" data-name="password" name="user-password" placeholder="密码"/>-->
        <!--</div>-->
        <!--<div class="col2"  id="J-panel-vcode"  style="display:none;">-->
          <!--<input type="text" class="txt yzm" placeholder="验证码" maxlength="5"/>-->
          <!--<img src="/assets/head/yzm.png" class="yzm-img"/>-->
        <!--</div>-->
        <!--<div class="col3">-->
          <!--<div id="J-msg-show" data-display="hide" class="msg-show"></div>-->
          <!--<input id="J-form-submit" class="submit fl" type="button" value="登 录">-->


          <!--<a href="/Login/UserRegister" class="regbtn fr" target="_blank">-->
            <!--注册-->
          <!--</a>-->
        <!--</div>-->
        <!--<input name="__RequestVerificationToken" type="hidden" value="2DvX4sSMGJgBeTdwRLl5zPMKPolUrbRV6TGQam2dEiJC3n572IRIadrVTgHngVOqu3Lc70uartab7BopRAjj8Q2" />-->
      <!--</form>-->
    <!--</div>-->
    <!--nav-->
    <app-home-header [selected]="currentName"></app-home-header>

  </div>
</div>
<!--header end-->
<script src="/Scripts/login.js" type="text/javascript"></script>


<!--banner-->
<div class="banner" style="height:505px;"></div>


<!--main-->
<div class="douji-main">
  <div class="w">
    <div class="douji-content">
      <div class="img">
        <img src="/assets/douji/270x180.jpg"/>
      </div>
      <div class="intro">
        <div class="hd"><h3>游戏介绍</h3></div>
        <div class="bd">
          <div class="cockfight-intro">
            <p>斗鸡是菲律宾独特的遗产，一种体现了体育精神的传统文化。诚实遵守公平竞赛，尊敬彼此和大方的接受失败是这项运动的规范，菲律宾人是无一例外严格遵守。在追求这项运动中，爱好者被冠于崇尚的敬意，而批评者将被排斥。这项运动符合了民主主义。社会的两个极端，从赤脚的农民，到崇高和威武的，以及两者之间的人们，都一视同仁。
            采用这种统一的赛事规则和服从其要求，我们希望最终能成功的启发公众，以及减少（如果不能完全消除）社会对Sabong的偏见和不屑...</p>
          </div>
        </div>
      </div>
      <div class="play">
        <p>首家菲律宾直营，最刺激的斗鸡在线投注！<br>惊心动魄的斗鸡现场，全程直播，让您乐在其中！</p>
        <div class="tc">
          <a href="" class="btn btn-blue">进入游戏</a></div>
      </div>
    </div>
  </div>
</div>
<!--footer-->
<!--优势-->
<div style="border-top: 1px solid #ddd;"></div>
<div class="w z_footer" >
  <!--<img src="/assets/index/safebg.jpg"/> -->
  <a href="/help"><img src="/assets/index/safebg_01.jpg"></a>
  <a href="/help"><img src="/assets/index/safebg_02.jpg"></a>
  <a href="/help"><img src="/assets/index/safebg_03.jpg"></a>
  <a href="/help"><img src="/assets/index/safebg_04.jpg"></a>
  <a href="/help" target="_blank"><img src="/assets/index/safebg_05.jpg"></a>	</div>
  <div class="footer">
    <div class="w">
      <div class="foot1">
				<span class="fr">
					<a href="/help">
            服务条款
          </a>
					|
					<a href="/help">
            隐私政策
          </a>
					|
					<a href="/help">
            责任博彩
          </a>
					|
					<a href="/help">
            安全性
          </a>
					|
					<a href="/help">
            免责声明
          </a>
				</span>
        <a href="" class="a1" title="客户端下载">客户端下载</a>
        <a href="" class="a2" title="域名验证">域名验证</a>
        <a href="" class="a3" title="线路检测">线路检测</a>
        <a target="_blank" id="custom-service" href="http://chat56.live800.com/live800/chatClient/chatbox.jsp?companyID=967492&configID=160768&jid=5850814693" class="a4" title="在线客服">在线客服</a>
      </div>
      <div class="foot2 tc">
        Copyright © 2016 合成娱乐  版权所有 All Rights Reserved.
      </div>
    </div>
</div>

<script type="text/javascript">$("#a5").addClass("on").parent().show()</script>
</div>
