<!--登录后-->
<div class="loginAfter">
  <app-header (childEvent)="openModel($event)"></app-header>
</div>
<!--个人中心弹窗-->
<div class="center">
  <nz-modal [nzVisible]="isVisible"
            [nzContent]="modalContent"
            [nzFooter]="null"
            [nzMaskClosable]="false"
            [nzWidth]="1100"
            [nzStyle]="style"
            (nzOnCancel)="handleCancel($event)">
    <ng-template #modalContent>
      <div class="layou">
        <!--横向导航-->
        <ul class="horizontal-menu d-bc d-active2 d-border" >
          <li class="d-border"  (click)="isShowInfo('account')" [class.active]="showInfo=='account'">我的信息</li>
          <li class="d-border"  (click)="isShowInfo('finance')" [class.active]="showInfo=='finance'">充值系统</li>
          <!--<li class="d-border" (click)="isShowInfo('report')" [class.active]="showInfo=='report'">报表查询</li>-->
          <li class="d-border" (click)="isShowInfo('transaction-record')" [class.active]="showInfo=='transaction-record'">记录查询</li>
          <li class="d-border"  (click)="isShowInfo('proxy')" [class.active]="showInfo=='proxy'">团队管理</li>
        </ul>
        <!--内容切换-->
        <app-account *ngIf="showInfo=='account'" [show]="subModel"></app-account>
        <app-finance *ngIf="showInfo=='finance'" [show]="finance"></app-finance>
        <app-transaction-record *ngIf="showInfo=='transaction-record'" [show]="transactionRecord"></app-transaction-record>
        <app-report *ngIf="showInfo=='report'" [show]="report"></app-report>
        <app-proxy *ngIf="showInfo=='proxy'" [show]="proxy"></app-proxy>
      </div>

    </ng-template>
  </nz-modal>
</div>
