.title {
    height: 35px;
    text-align: right;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    span {
        margin: 2px 5px 0 0;
        font-size: 18px;
        color: black;
        cursor: pointer;
    }
}

.cont {
    height: 55px;
    font-size: 17px;
    color:black;
    line-height: 55px;
}

.top-header {
    height: 30px;
    position: relative;
    .detail-top {
        height: 1px;
        width: 550px;
        /* margin: 0 auto; */
        border-bottom: 1px solid #9b0000;
    }
    .content {
        min-height: 130px;
        max-height: 130px;
        overflow: hidden;
        padding: 0px;
        width: 544px;
        background: white;
        position: relative;
        left: 10px;
        top: 10px;
        overflow: auto;
    }
    .bottom-img {
        height: 10px;
        width: 544px;
        margin: 0 auto;
        background: url(../image/jag_bg.png);
        position: relative;
        left: 0;
        top: 10px;
    }
}

.top-content {
    box-sizing: border-box;
    padding-top: 135px;
    height: 264px;
    border-radius: 0 0 10px 10px;
}

.flex {
    color: #000;
    display: flex;
    margin: 5px 0 5px 0px;
    .b-right {
        color: rgb(255, 0, 0)
    }
}

.sum {
    text-align: center;
    font-size: 16px;
    margin: 5px;
    span {
        color: rgb(249, 82, 89);
    }
}

.bottom {
    background: #fff;
    height: 48px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    line-height: 48px;
    span {
        box-sizing: border-box;
        margin-left: 15px;
        padding: 6px 8px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        line-height: 18px;
        letter-spacing: 2px;
        width: auto;
        min-width: 100px;
        min-height: 32px;
        overflow: visible;
        color: #fff;
        border-radius: 8px;
        background: #A92833;
        font-size: 13px;
    }
    .ok {
        background: #A92833;
    }
    .ok:hover{
      background: #DF0B0B;
    }
}

.li {
    display: flex;
    margin: 8px 10px 0 10px;
}
