.dahong .d-bc {
    background: #df4a50 !important;
}

.dahong .d-bc::after {
    border-color: transparent transparent transparent #df4a50 !important;
}

.dahong .d-hover:hover {
    background: #f95259 !important;
}

.dahong .d-hover2:hover {
    background: #c64247 !important;
}

.dahong .d-border {
    border-color: #c64247 !important;
}

.dahong .d-b-hover:hover {
    border-color: #c64247 !important;
}

.dahong .d-active>li:hover {
    background: #c64247 !important;
}

.dahong .d-active .active {
    background: #c64247 !important;
}

.dahong .d-active2>li:hover {
    background: #f95259 !important;
}

.dahong .d-active2 .topActive {
    background: #f95259 !important;
}

.dahong .d-active2 .active {
    background: #f95259 !important;
    border-color: #c64247 !important;
}

.dahong .d-s-active .active {
    background: #f95259 !important;
    border-color: #f95259 !important;
}

.dahong .d-active4>label:hover {
    background: #f95259 !important;
    border-color: #c64247 !important;
}

.dahong .d-active4 .active {
    background: #f95259 !important;
    border-color: #c64247 !important;
}

.tianlan .d-bc {
    background: #169ada !important;
}

.tianlan .d-bc::after {
    border-color: transparent transparent transparent #169ada !important;
}

.tianlan .d-hover:hover {
    background: #19acf3 !important;
}

.tianlan .d-hover2:hover {
    background: #1388c1 !important;
}

.tianlan .d-border {
    border-color: #1388c1 !important;
}

.tianlan .d-b-hover:hover {
    border-color: #1388c1 !important;
}

.tianlan .d-active>li:hover {
    background: #1388c1 !important;
}

.tianlan .d-active .active {
    background: #1388c1 !important;
}

.tianlan .d-active2>li:hover {
    background: #19acf3 !important;
}

.tianlan .d-active2 .topActive {
    background: #19acf3 !important;
}

.tianlan .d-active2 .active {
    background: #19acf3 !important;
    border-color: #1388c1 !important;
}

.tianlan .d-s-active .active {
    background: #19acf3 !important;
    border-color: #19acf3 !important;
}

.tianlan .d-active4>label:hover {
    background: #19acf3 !important;
    border-color: #1388c1 !important;
}

.tianlan .d-active4 .active {
    background: #19acf3 !important;
    border-color: #1388c1 !important;
}

.xueqing .d-bc {
    background: #446ec2 !important;
}

.xueqing .d-bc::after {
    border-color: transparent transparent transparent #446ec2 !important;
}

.xueqing .d-hover:hover {
    background: #4d7cdb !important;
}

.xueqing .d-hover2:hover {
    background: #3b60a9 !important;
}

.xueqing .d-border {
    border-color: #3b60a9 !important;
}

.xueqing .d-b-hover:hover {
    border-color: #3b60a9 !important;
}

.xueqing .d-active>li:hover {
    background: #3b60a9 !important;
}

.xueqing .d-active .active {
    background: #3b60a9 !important;
}

.xueqing .d-active2>li:hover {
    background: #4d7cdb !important;
}

.xueqing .d-active2 .topActive {
    background: #4d7cdb !important;
}

.xueqing .d-active2 .active {
    background: #4d7cdb !important;
    border-color: #3b60a9 !important;
}

.xueqing .d-s-active .active {
    background: #4d7cdb !important;
    border-color: #4d7cdb !important;
}

.xueqing .d-active4>label:hover {
    background: #4d7cdb !important;
    border-color: #3b60a9 !important;
}

.xueqing .d-active4 .active {
    background: #4d7cdb !important;
    border-color: #3b60a9 !important;
}

.jianzhi .d-bc {
    background: #6b51bf !important;
}

.jianzhi .d-bc::after {
    border-color: transparent transparent transparent #6b51bf !important;
}

.jianzhi .d-hover:hover {
    background: #795cd9 !important;
}

.jianzhi .d-hover2:hover {
    background: #5d46a6 !important;
}

.jianzhi .d-border {
    border-color: #5d46a6 !important;
}

.jianzhi .d-b-hover:hover {
    border-color: #5d46a6 !important;
}

.jianzhi .d-active>li:hover {
    background: #5d46a6 !important;
}

.jianzhi .d-active .active {
    background: #5d46a6 !important;
}

.jianzhi .d-active2>li:hover {
    background: #795cd9 !important;
}

.jianzhi .d-active2 .topActive {
    background: #795cd9 !important;
}

.jianzhi .d-active2 .active {
    background: #795cd9 !important;
    border-color: #5d46a6 !important;
}

.jianzhi .d-s-active .active {
    background: #795cd9 !important;
    border-color: #795cd9 !important;
}

.jianzhi .d-active4>label:hover {
    background: #795cd9 !important;
    border-color: #5d46a6 !important;
}

.jianzhi .d-active4 .active {
    background: #795cd9 !important;
    border-color: #5d46a6 !important;
}

.cunzhi .d-bc {
    background: #8758a0 !important;
}

.cunzhi .d-bc::after {
    border-color: transparent transparent transparent #8758a0 !important;
}

.cunzhi .d-hover:hover {
    background: #9d66ba !important;
}

.cunzhi .d-hover2:hover {
    background: #714a87 !important;
}

.cunzhi .d-border {
    border-color: #714a87 !important;
}

.cunzhi .d-b-hover:hover {
    border-color: #714a87 !important;
}

.cunzhi .d-active>li:hover {
    background: #714a87 !important;
}

.cunzhi .d-active .active {
    background: #714a87 !important;
}

.cunzhi .d-active2>li:hover {
    background: #9d66ba !important;
}

.cunzhi .d-active2 .topActive {
    background: #9d66ba !important;
}

.cunzhi .d-active2 .active {
    background: #9d66ba !important;
    border-color: #714a87 !important;
}

.cunzhi .d-s-active .active {
    background: #9d66ba !important;
    border-color: #9d66ba !important;
}

.cunzhi .d-active4>label:hover {
    background: #9d66ba !important;
    border-color: #714a87 !important;
}

.cunzhi .d-active4 .active {
    background: #9d66ba !important;
    border-color: #714a87 !important;
}

.caolv .d-bc {
    background: #2ea68a !important;
}

.caolv .d-bc::after {
    border-color: transparent transparent transparent #2ea68a !important;
}

.caolv .d-hover:hover {
    background: #35c09f !important;
}

.caolv .d-hover2:hover {
    background: #278d75 !important;
}

.caolv .d-border {
    border-color: #278d75 !important;
}

.caolv .d-b-hover:hover {
    border-color: #278d75 !important;
}

.caolv .d-active>li:hover {
    background: #278d75 !important;
}

.caolv .d-active .active {
    background: #278d75 !important;
}

.caolv .d-active2>li:hover {
    background: #35c09f !important;
}

.caolv .d-active2 .topActive {
    background: #35c09f !important;
}

.caolv .d-active2 .active {
    background: #35c09f !important;
    border-color: #278d75 !important;
}

.caolv .d-s-active .active {
    background: #35c09f !important;
    border-color: #35c09f !important;
}

.caolv .d-active4>label:hover {
    background: #35c09f !important;
    border-color: #278d75 !important;
}

.caolv .d-active4 .active {
    background: #35c09f !important;
    border-color: #278d75 !important;
}

.cuilv .d-bc {
    background: #50b0ac !important;
}

.cuilv .d-bc::after {
    border-color: transparent transparent transparent #50b0ac !important;
}

.cuilv .d-hover:hover {
    background: #5ccac5 !important;
}

.cuilv .d-hover2:hover {
    background: #449793 !important;
}

.cuilv .d-border {
    border-color: #449793 !important;
}

.cuilv .d-b-hover:hover {
    border-color: #449793 !important;
}

.cuilv .d-active>li:hover {
    background: #449793 !important;
}

.cuilv .d-active .active {
    background: #449793 !important;
}

.cuilv .d-active2>li:hover {
    background: #5ccac5 !important;
}

.cuilv .d-active2 .topActive {
    background: #5ccac5 !important;
}

.cuilv .d-active2 .active {
    background: #5ccac5 !important;
    border-color: #449793 !important;
}

.cuilv .d-s-active .active {
    background: #5ccac5 !important;
    border-color: #5ccac5 !important;
}

.cuilv .d-active4>label:hover {
    background: #5ccac5 !important;
    border-color: #449793 !important;
}

.cuilv .d-active4 .active {
    background: #5ccac5 !important;
    border-color: #449793 !important;
}

.fenhong .d-bc {
    background: #e1607e !important;
}

.fenhong .d-bc::after {
    border-color: transparent transparent transparent #e1607e !important;
}

.fenhong .d-hover:hover {
    background: #fb6b8c !important;
}

.fenhong .d-hover2:hover {
    background: #c85570 !important;
}

.fenhong .d-border {
    border-color: #c85570 !important;
}

.fenhong .d-b-hover:hover {
    border-color: #c85570 !important;
}

.fenhong .d-active>li:hover {
    background: #c85570 !important;
}

.fenhong .d-active .active {
    background: #c85570 !important;
}

.fenhong .d-active2>li:hover {
    background: #fb6b8c !important;
}

.fenhong .d-active2 .topActive {
    background: #fb6b8c !important;
}

.fenhong .d-active2 .active {
    background: #fb6b8c !important;
    border-color: #c85570 !important;
}

.fenhong .d-s-active .active {
    background: #fb6b8c !important;
    border-color: #fb6b8c !important;
}

.fenhong .d-active4>label:hover {
    background: #fb6b8c !important;
    border-color: #c85570 !important;
}

.fenhong .d-active4 .active {
    background: #fb6b8c !important;
    border-color: #c85570 !important;
}