.slider .ant-slider-rail {
  background-color: #9c9ea6 !important;
}
.slider .ant-slider-track {
  background-color: #105fbe !important;
}
.slider .ant-slider-handle {
  border-color: #105fbe !important;
}
.slider .ant-slider-handle:active {
  box-shadow: 0 0 0 2px rgba(198, 66, 71, 0.2) !important;
}
