<div class="program-chase">
  <ul class="program-chase-title">
    <li [class.current]=" titleActive.fangan " (click)='onClickBetlist()'>我的方案</li>
    <li [class.current]=" titleActive.zuihao " (click)='onClickChase()'>我的追号</li>
  </ul>
  <ul class="program-chase-content" >
    <li [class.current]=" titleActive.fangan ">
      <table class="program-chase-table" id="program-user-orders">

        <thead>
        <tr>
          <th>方案编号</th>
          <th>彩种</th>
          <th>期号</th>
          <th>投注金额</th>
          <th>中奖金额</th>
          <th>状态</th>
          <th>投单时间</th>
          <th>操作项</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of programData">
          <td>{{item.log_id}}</td>
          <td>{{item.gameTitle}}</td>
          <td>{{item.issue}}</td>
          <td><dfn>¥</dfn>{{item.betAmount}}</td>
          <td>{{item.winAmount}}</td>
          <td>{{getStatus(item.status)}}</td>
          <td>{{item.addTime*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td><a target="_black" (click)="gengduo()"> 查看 </a> <a
            href="javascript:void(0);" id="revSscheme0"  *ngIf="item.status == 0" (click)='revoked(item.id)'> |撤单</a></td>
        </tr>

        </tbody>
      </table>
    </li>
    <li [class.current]=" titleActive.zuihao ">
      <table class="program-chase-table" id="program-user-plans">
        <thead>
        <tr>
          <th>追号编号</th>
          <th>彩种</th>
          <th>操作人员</th>
          <th>已追/总期数</th>
          <th>投注总额</th>
          <th>状态</th>
          <th>追号时间</th>
          <th>操作项</th>
        </tr>
        </thead>
        <!--<tbody *ngIf="chaseData.length == 0">-->
          <!--<tr >-->
            <!--<td colspan="7" >您今天暂时没有追号记录！</td>-->
          <!--</tr>-->

        <!--</tbody>-->
        <tbody>
        <tr *ngFor="let item of chaseData">
          <td>{{item.id}}</td>
          <td>{{item.gameTitle}}</td>
          <td>{{item.user_name}}</td>
          <td>{{item.issueCount}}</td>
          <td>{{item.betAmount}}</td>
          <td><span *ngIf="item.status==0">未开始</span>
            <span *ngIf="item.status==1">已开始</span>
            <span *ngIf="item.status==2">已停止</span>
            <span *ngIf="item.status==3">已结束</span>
          </td>
          <td>{{item.addTime * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td><a target="_black" (click)="openzuihao()"> 查看 </a></td>

        </tr>

        </tbody>

      </table>
      <table class="program-chase-table">
        <tbody>
        <tr>
          <td colspan="3" class="text-right">
            <a (click)="openzuihao()"target="_blank" class="more">更多»</a>
          </td>
        </tr>
        </tbody>
      </table>
    </li>
  </ul>
</div>


<!--<div>-->
  <!--<ul class="tab-hd">-->
    <!--<li [class.active]="titleActive.fangan">我的方案</li>-->
    <!--<li [class.active]="titleActive.zuihao" (click)='onClickChase()'>我的追号</li>-->
    <!--<li [class.active]="titleActive.kaijiang" (click)='onClickKaiJiang()'>开奖号码</li>-->
  <!--</ul>-->
  <!--&lt;!&ndash; 我到方案 &ndash;&gt;-->
  <!--<div class='item' [class.item-bc]='programData.length == 0' *ngIf='titleActive.fangan'>-->
    <!--<div>-->
      <!--<span>期号</span>-->
      <!--<span>状态</span>-->
    <!--</div>-->
    <!--<ul class='ul'>-->
      <!--<li class='item-list' *ngFor='let list of programData'>-->
        <!--<div (click)="clickList(list)">-->
          <!--<nz-popover [nzTitle]="list.issue" [nzTrigger]="'hover'" [nzPlacement]="'leftTop'">-->
            <!--<span class='lanse' nz-popover>[{{list.issue}}]</span>-->
            <!--<ng-template #nzTemplate>-->
              <!--<div>-->
                <!--<p>投注金额:{{list.betAmount}}</p>-->
                <!--<p>投注号码:{{list.code}}</p>-->
                <!--<p>投注注数:{{list.betCount}}</p>-->
                <!--<p>是否追号:{{list.chase_id > 0 ? '是': '否'}}</p>-->
              <!--</div>-->
            <!--</ng-template>-->
          <!--</nz-popover>-->
        <!--</div>-->
        <!--<div>-->
          <!--<p *ngIf='list.status == 0'>未开奖-->
            <!--<span class='lanse' (click)='revoked(list.id)'>[撤单]</span>-->
          <!--</p>-->
          <!--<p *ngIf='list.status == 1'>已封单</p>-->
          <!--<p *ngIf='list.status == 2'>未中奖</p>-->
          <!--<p *ngIf='list.status == 3'>已中奖</p>-->
          <!--<p *ngIf='list.status == -1'>撤单</p>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div class="ul-top">-->
      <!--<span (click)="onClickBetlists()"><i class="iconfont">&#xe626;</i>刷新</span>-->
      <!--<span (click)='gengduo()'>更多..</span>-->
    <!--</div>-->

  <!--</div>-->
  <!--&lt;!&ndash; 追号 &ndash;&gt;-->
  <!--<div class='item' [class.item-bc]='chaseData.length == 0' *ngIf='titleActive.zuihao'>-->
    <!--<div class="xs">-->
      <!--<span>进度</span>-->
      <!--<span>投注金额</span>-->
      <!--<span>状态</span>-->
    <!--</div>-->
    <!--<ul class='ul'>-->
      <!--<li class='item-list xs' *ngFor='let list of chaseData'>-->
        <!--<div>-->
          <!--<span class='lanse' (click)="clickJindu(list)">{{list.doneCount}}/{{list.issueCount}}</span>-->
        <!--</div>-->
        <!--<div>-->
          <!--<p>{{list.betAmount}}</p>-->
        <!--</div>-->
        <!--<div>-->
          <!--<p *ngIf="list.status == 0">未开始</p>-->
          <!--<p *ngIf="list.status == 1">进行中</p>-->
          <!--<p *ngIf="list.status == 2">已停止</p>-->
          <!--<p *ngIf="list.status == 3">已结束</p>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div class="ul-top">-->
      <!--<span (click)="shuaxin()"><i class="iconfont">&#xe626;</i>刷新</span>-->
      <!--<span (click)='openzuihao()'>更多...</span>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class='item' [class.item-bc]='lotteryData.length == 0' *ngIf='titleActive.kaijiang'>-->
    <!--<div>-->
      <!--<span>期号</span>-->
      <!--<span>号码</span>-->
    <!--</div>-->
    <!--<ul class='ul'>-->
      <!--<li class='item-list' *ngFor='let list of lotteryData'>-->
        <!--<div>-->
          <!--<span>[{{list.issue}}]</span>-->
        <!--</div>-->
        <!--<div>-->
          <!--<p>{{list.code}}</p>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
