<app-time (Time)='timeChange($event)'></app-time>
<div class="my-table-top-new">
  <div style='width:60px'>时间范围</div>
  <div style='width:145px'>
    <nz-datepicker [(ngModel)]="startTime" [nzPlaceHolder]="'开始日期'"></nz-datepicker>
  </div>
  <div style='width:30px'>至</div>
  <div style='width:145px'>
    <nz-datepicker [(ngModel)]="endTime" [nzPlaceHolder]="'结束日期'"></nz-datepicker>
  </div>
  <div class='m-left'>
    <span class="gm-button gm-button-success d-bc" (click)="getList()">查询</span>
  </div>

</div>
  
  <div class="my-table-content">
    <nz-table #nzTable [nzDataSource]="listData" [nzIsPagination]="false" [nzBordered]="true">
      <thead nz-thead>
        <tr>
          <th nz-th>
            <span>交易流水号</span>
          </th>
          <th nz-th>
            <span>用户名</span>
          </th>
          <th nz-th>
            <span>交易时间</span>
          </th>
          <th nz-th>
            <span>类型</span>
          </th>
          <th nz-th>
            <span>当前积分</span>
          </th>
          <th nz-th>
              <span>操作积分</span>
            </th>
            <th nz-th>
                <span>总积分</span>
              </th>
              <th nz-th>
                  <span>备注</span>
                </th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of nzTable.data">
            <td>{{item.id}}</td>
            <td>{{item.user_name}}</td>
            <td>{{item.addTime*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{item.type}}</td>
            <td>{{item.usableAmount}}</td>
            <td>{{item.usable}}</td>
            <td>{{item.currentAmount}}</td>
            <td>{{item.intro}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="my-pagination-right">
    <nz-pagination (click)='clickPagination()' [(nzPageIndex)]="page" [nzTotal]="total"></nz-pagination>
  </div>
