<div class="changepw">
  <ul class="changTit">
    <li class="on">登录密码</li>
    <li>资金密码</li>
  </ul>
  <div class="mima">
    <form class="oform oform1" #form1="ngForm">
      <div class="row">
        <div class="th">用户名:</div>
        <label class="td" content="user-name">{{userData.username}}</label>
      </div>
      <div class="row">
        <div class="th">当前登陆密码:</div>
        <label class="td"><input name="old_password" type="password" ngModel></label>
      </div>
      <div class="row row20">
        <div class="th"></div>
        <div class="tip" for="tip-old_password"><i class="fa"></i>请输入当前登陆密码</div>
      </div>
      <div class="row">
        <div class="th">新登陆密码:</div>
        <label class="td">
          <input name="password" type="password" ngModel>
        </label>
      </div>
      <div class="row row20">
        <div class="th"></div>
        <div class="tip" for="tip-password"><i class="fa"></i>请输入新登陆密码</div>
      </div>
      <div class="row">
        <div class="th">确认新登陆密码:</div>
        <label class="td">
          <input name="confirm_password" type="password" ngModel>
        </label>
      </div>
      <div class="row row20">
        <div class="th"></div>
        <div class="tip" for="tip-confirm_password"></div>
      </div>
      <div class="row btn-area">
        <a class="gm-button gm-button-success d-bc" (click)="comLoginPW(form1.value)">提交</a>
        <a class="gm-button gm-button-cancel">取消</a>
      </div>
    </form>
    <form class="oform oform2 hidden" #form2="ngForm">
      <div class="row">
        <div class="th">用户名:</div>
        <label class="td" content="user-name">{{userData.username}}</label>
      </div>
      <div class="row">
        <div class="th">当前资金密码:</div>
        <label class="td"><input name="old_password" type="password" ngModel></label>
      </div>
      <div class="row row20">
        <div class="th"></div>
        <div class="tip" for="tip-old_password"><i class="fa fa-info-circle"></i>请输入当前资金密码</div>
      </div>
      <div class="row">
        <div class="th">新资金密码:</div>
        <label class="td">
          <input name="password" type="password" ngModel>
        </label>
      </div>
      <div class="row row20">
        <div class="th"></div>
        <div class="tip" for="tip-password"><i class="fa fa-info-circle"></i>请输入新资金密码</div>
      </div>
      <div class="row">
        <div class="th">确认新资金密码:</div>
        <label class="td">
          <input name="confirm_password" type="password" ngModel>
        </label>
      </div>
      <div class="row row20">
        <div class="th"></div>
        <div class="tip" for="tip-confirm_password"></div>
      </div>
      <div class="row btn-area">
        <a class="gm-button gm-button-success d-bc" (click)="comZiPW(form2.value)">提交</a>
        <a class="gm-button gm-button-cancel">取消</a>
      </div>
    </form>
  </div>
  <div class="pwd-explain">
    <div class="row"><i>1</i>定期更换密码可以让您的账户更安全</div>
    <div class="row"><i>2</i>请确保您的登陆密码与资金密码不同</div>
    <div class="row"><i>3</i>尽量使用复杂的密码, 以避免被盗号者轻易地破解. 比如 "lur8950*256" 这样的密码就是比较不错的选择, 但前提是您不会遗忘. 您可以将密码写在纸上或者记录在手机上.</div>
    <div class="row"><i>4</i>资金密码中的安全邮箱没有设置, 请认真填写您真实有效的安全邮箱, 当忘记密码或者开通谷歌动态密码以及转账时都需要验证安全邮箱! 安全邮箱一旦保存后将不能再进行修改.</div>
    <div class="row"><i>5</i><label class="prj_name">lur游戏</label>系统同时采用了其他众多措施来尽力保障您的资金和账户安全.</div>
    <div class="row"><i>6</i>系统默认资金密码/安全密码<label class="prj_name">123456</label>.</div>
  </div>
</div>
