<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div class="header" style="">
        <div class="w">
            <a href class="logo1" [style.background-image]="'url(/assets/head/logo1.png)'"></a>
            <a href class="logo" [style.background-image]="'url(/assets/head/logo.png)'"></a>
        <div class="loginBefore">
            <form>
                <div class="col1" style="margin-left: 55px;">
                    <input type="text" class="txt user" id="J-user-name" data-name="name" name="user-name" placeholder="账号">
                    <input type="password" class="txt password" id="J-user-password" data-name="password" name="user-password" placeholder="密码">
                </div>
                <div class="col2" id="J-panel-vcode" style="display:none;">
                    <input type="text" class="txt yzm" placeholder="验证码" maxlength="5">
                    <img src="/images/head/yzm.png" class="yzm-img">
                </div>
                <div class="col3">
                    <div id="J-msg-show" data-display="hide" class="msg-show" style="height: 0px;"></div>
                    <input id="J-form-submit" class="submit fl" type="button" value="登 录">


                    <a href="/Login/UserRegister" class="regbtn fr" target="_blank">
                      注册
                    </a>
                </div>
        </form>
      </div>

    </div>
  </div>


</div>

