.tab-hd {
  background: white;
  height: 38px;
  display: flex;
  border-top: 1px solid white;
  border-bottom: 1px solid #C72533;
}
.tab-hd>li {
  width: 33.33%;
  color: #666;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
}

.active {
  color: #C72533 !important;
}


/* 方案 */

.item {
  height: 225px;
  background-color: white;
  color: #222;}
.item>.ul {
  height: 172px;
  overflow: auto;
}
.item>div {
    display: flex;
}

.item>div>span {
  width: 50%;
  text-align: center;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.xs>span {
  width: 33.33%;
}

.lanse {
  color: #C72533;
  cursor: pointer;
}

.item-list {
  display: flex;
  height: 30px;
  line-height: 30px;
}
.item-list>div {
    width: 50%;
    text-align: center;
  }

.xs>div {
  width: 33.33%;
}

.item-bc {
  background-repeat: no-repeat;
  background-position-x: 60px;
  background-position-y: 40px; // background-size: 100% 100%;
}

.ul-top>span {
  cursor: pointer;
}
.ul-top>span:hover {
   color:#C72533
 }
